<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/manifest/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<th:block th:replace="fragments.html::bulma"></th:block>
<th:block th:replace="fragments.html::ui-design"></th:block>
<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<title th:text="#{register.title}"></title>
</head>
<body>
	<div id="main">
		<header th:replace="fragments.html::header-logged-out"></header>
		<div class="section">
			<div class="container">
				<h3 class="title" th:text="#{register.title}"></h3>
				<p class="subtitle" th:text="#{register.subtitle}"></p>
				<div class="box">
					<form th:action="@{/register-oauth}" method="POST"
						id="register-form">
						<div class="field">
							<label class="label" th:text="#{first-name}" style="float: left;"></label><span
								class="asterisk">*</span>
							<div class="control">
								<input class="input" type="text" name="firstName" minlength="2" maxlength="20" th:value="${firstName}" required>
							</div>
						</div>
						<div class="field">
							<input class="input" type="hidden" name="email"
								th:value="${email}" required>
						</div>
						<div class="field">
							<label class="label" th:text="#{dob}" style="float: left;"></label><span
								class="asterisk">*</span>
							<div class="control">
								<input id="dob-input" class="input" type="date" name="dateOfBirth" required>
							</div>
						</div>

						<div class="field">
							<label class="label" th:text="#{gender}" style="float: left;"></label><span
								class="asterisk">*</span>
							<div class="select">
								<select name="gender" required>
									<option value=""></option>
									<th:block th:each="gender : ${genders}">
										<option th:value="${gender.id}"
											th:if="${gender.text == 'male'}"
											th:text="#{profile.gender.male}"></option>
										<option th:value="${gender.id}"
											th:if="${gender.text == 'female'}"
											th:text="#{profile.gender.female}"></option>
										<option th:value="${gender.id}"
											th:if="${gender.text == 'other'}"
											th:text="#{profile.gender.other}"></option>
									</th:block>
								</select>
							</div>
						</div>
						
						<div class="field">
							<label class="label" th:text="#{register.referral-code}" style="float: left;"></label>
							<div class="control">
								<input class="input" name="referrerCode" id="referrer">
							</div>
						</div>
								
						<div style="height: 24px"></div>

						<div class="field">
							<div class="field">
								<input id="tos" type="checkbox" name="tos" class="switch"
									style="position: absolute" required> <label for="tos"
									th:utext="#{register.tos-agree}"> </label>
							</div>
							<div class="field">
								<input id="pp" type="checkbox" name="pp" class="switch"
									style="position: absolute" required> <label for="pp"
									th:utext="#{register.privacy-agree}"> </label>
							</div>
						</div>

						<div class="register-warning"
							th:text="#{register.asterisk-warning}"></div>

						<div class="field is-grouped"
							style="display: flex; justify-content: flex-start;">
							<div class="control">
								<button class="button colored is-link" type="submit" th:text="#{submit}"></button>
							</div>
							<div class="control">
								<button class="button is-danger is-outlined" type="button"
									onclick="window.location = '/'" th:text="#{cancel}"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments.html::footer"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/register-oauth.js"></script>

</body>
</html>